@{
    ViewData["Title"] = "Gestão  de Condominio";
}

<div class="text-center">
    <h1 class="display-4">Controle seu condominio com facilidade!</h1>
    <p>Controle os apartamentos e os moradores de qualquer lugar com nosso sitema, que é rapido e facil de usar.</p>
</div>
